
@model IEnumerable<Atelier_7.Models.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>
    <h2> Liste d'employés</h2>
    <ul>
        @foreach (var e in Model)
        {
            <li>@e.Name</li>
        }
    </ul>
</body>
</html>
