@model IEnumerable<Atelier_7.Models.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeesByDept</title>
</head>
<body>

<table class="table" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.ActionLink(item.Name, "Details", "Home", new  { id = item.ID})
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
